page-search-hike {
      .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    
    ion-content{
    background-image: url('../assets/mountain_Search.jpg');
}
}
