<!--
  Generated template for the SearchHike page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>SearchHike</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
  
  <ion-list>
    <ion-item *ngFor="let hike of hikes" (click)="viewItem(hike)">
      {{hike.hikeName}}
    </ion-item>
  </ion-list>
</ion-content>
