page-landing {
ion-content{
    background-image: url('../assets/mountain_Landing.jpg') no-repeat fixed center;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
}
}
